<?xml version="1.0" encoding="UTF-8"?>
<!--
	OpenTHC PHPUnit Configuration File
-->
<phpunit
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd"
	backupGlobals="false"
	backupStaticAttributes="false"
	bootstrap="boot.php"
	cacheResult="false"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	processIsolation="false"
	stopOnError="true"
	stopOnFailure="true"
	stopOnRisky="true"
	timeoutForSmallTests="1"
	timeoutForMediumTests="10"
	timeoutForLargeTests="60"
	verbose="false"
	>

	<coverage />

	<php>

		<env name="debug-http" value="false" />

		<env name="api-uri" value="SET_YOUR_API_BASE_HERE" />
		<env name="api-vendor-key" value="SET_YOUR_VENDOR_KEY_HERE" />
		<env name="api-client-key" value="SET_YOUR_CLIENT_KEY_HERE" />


	</php>

	<testsuites>

		<testsuite name="money">
			<directory>OpenTHC</directory>
			<exclude>OpenTHC/Components</exclude>
			<exclude>OpenTHC/OLD</exclude>
			<exclude>OpenTHC/CRE</exclude>
		</testsuite>

		<testsuite name="OpenTHC_CRE">
			<directory>OpenTHC/CRE/</directory>
		</testsuite>
	</testsuites>

	<logging>
		<!-- <log type="coverage-html" target="../webroot/test-output" /> -->
		<log type="junit" target="../webroot/test-output/output.xml" />
		<log type="testdox-html" target="../webroot/test-output/testdox.html" />
	</logging>

</phpunit>
